body {
  padding: 0;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 1.em;
  color: #f2f2f2;
}

.a {
  text-align: center;
  margin: 90 auto;
  background-color: #686868;
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  margin: 0 auto;
  background-color: #686868;
  flex-basis: 600px;
  padding: 15px;
  border: 8px solid #262626;
}

.b {
  flex-grow: 10;
  text-align: center;
  margin: 0 auto;
  background-color: #686868;
  border: 5px solid #262626;
}

.c {
  flex-direction: column;
  text-align: center;
  flex-basis: 210px;
  background-color: #686868;
  border: 9px solid #262626;
}

.d {
  flex-grow: 1;
  text-align: center;
  margin: 20 auto;
  background-color: #686868;
}

.e {
  flex-grow: 1;
  text-align: center;
  margin: 20 auto;
  background-color: #686868;
}

.f {
  text-align: center;
  flex-grow: 1;
  margin: 20 auto;
  background-color: #686868;
}

.g {
  text-align: center;
  background-color: #686868;
  flex-basis: 600px;
  margin-bottom: 0px;
  padding: 15px;
  border: 5px solid #262626;
}